#container{
     width:1050px;
     border: 1px  grey;
     height: 100px;
     margin: 0 auto;
}

h1 a{
    font-size: 50px;
    font-weight: 100;
    color: blueviolet;
    text-decoration: none;
    
}

#brand{
    float: left;
}

#searchbox{
    float: right;
    background: linear-gradient(#E4F2B9,#B7E953);
    width: 400px;
    height: 50px;
    padding: 20px 20px 0px 20px;
    margin-top: 20px;
}

#header{
    height: 100px;
    padding: 0.5px 5px;
}

.text{
    float: left;
    width: 200px;
    padding: 5px;
    color: orange;
    
}

.submit{
    float: right;
    padding: 5px;
    font-weight: bold;
    color: aliceblue;
    background-color: purple;
}

.clear{
    clear: both;
}

ul{
    list-style: none;
}

#menu{
    height: 70px;
    background: linear-gradient(white,yellow);
}

#menu ul li{
    float: left;
    padding: 10px 45px;
    height: 20px;
    border-right: 2px solid purple;
}

#menu ul li:last-child{
    border-right: none;
}

#menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 19px;
    color: rgb(50, 11, 129);
    -webkit-transition: font-size 0.5ms ease;
    -moz-transition: font-size 0.5ms ease;
    -o-transition: font-size 0.5ms ease;
    -ms-transition: font-size 0.5ms ease;
    transition: font-size 0.5ms ease;

}
#menu ul li a:hover{
    font-size: 20px;
    font-weight: bold;
    color: #b314db;
}

#introduction{
    height: 180px;
    background: linear-gradient(rgb(229, 229, 213),rgb(135, 240, 117));
    text-align: left;
    padding:20px 30px;
    padding-bottom: 40px;
    margin: 20px 0;
}

#introduction h3{
    font-size: 35px;
    font-family:cursive;
    font-weight: lighter;
    color: rgb(9, 48, 2);
}

#introduction p{
    font-size: large;
    color: rgb(22, 90, 10);
}

.sidebar{
    height: 450px;
    width: 400px;
    border: 1px solid rgb(35, 115, 35);
    border-radius: 20px;
}

#leftsidebar{
    float: left;
}

#rightsidebar{
    float: right;
}

#leftsidebar h3{
    font-size:xx-large;
    padding: 0px 30px;
}

#leftsidebar ul{
    font-size: larger;
}

#leftsidebar a{
    padding: 10px 0px;
}

#rightsidebar h3{
    font-size:xx-large;
    padding: 0px 30px;
}

.leftsidebar ul li{
    padding-bottom: 6px;
    padding-left: 10px;
}

.sidebar ul li a{
    text-decoration: none;
    font-size: 20px;
    -webkit-transition: font-size 0.5ms ease;
    -moz-transition: font-size 0.5ms ease;
    -o-transition: font-size 0.5ms ease;
    -ms-transition: font-size 0.5ms ease;
    transition: font-size 0.5ms ease;

}

#menu ul li a:hover, #menu ul li a.active{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: yellow;
}

.sidebar ul li a:hover, .sidebar ul li a.active{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: bold;
}

#leftsidebar ul li{
    padding-bottom: 12px;
}

#rightsidebar ul li{
    padding-bottom: 20px;
}
